<h1><%= @question.question  %></h1>

<div class="box">
  <%= form_for @answer, url: answer_index_path, method: 'post', class: 'nifty_form' do |f| %>
    <%= hidden_field_tag(:question, @question.id) %>
    <% @question.choices.each_with_index do |choice, index| %>
      <%= radio_button_tag(:choice, choice.id) %>
      <%= label_tag("choice_#{choice.id}", choice.choice) %>
    <% end %>
    <%= f.submit "Next" %>
  <% end %>
</div>
